In [1]:
import ast 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.ticker as mtick
import statsmodels.api as sm



# Set the path to the file you'd like to load
file_path = 'M:/3_datasets/covid_19_data.csv'

# Load the latest version
df = pd.read_csv(file_path)

#clean
df.columns = df.columns.str.replace(' ', '_')
df['Last_Update'] = pd.to_datetime(df['Last_Update'], format='mixed') 
df['ObservationDate']= pd.to_datetime(df['ObservationDate'])

df.set_index('SNo', inplace=True)

df['Country/Region']= df['Country/Region'].fillna('else')
df['Province/State']= df['Province/State'].fillna('Unknown')

df[['Confirmed','Deaths','Recovered']] = df[['Confirmed','Deaths','Recovered']].clip(lower=0)

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 306429 entries, 1 to 306429
Data columns (total 7 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   ObservationDate  306429 non-null  datetime64[ns]
 1   Province/State   306429 non-null  object
 2   Country/Region   306429 non-null  object
 3   Last_Update      306429 non-null  datetime64[ns]
 4   Confirmed        306429 non-null  float64
 5   Deaths           306429 non-null  float64
 6   Recovered        306429 non-null  float64
dtypes: datetime64[ns](2), float64(3), object(2)
memory usage: 18.7+ MB

In [3]:
df.head(10)

,ObservationDate,Province/State,Country/Region,Last_Update,Confirmed,Deaths,Recovered
SNo,,,,,,,
1,2020-01-22,Anhui,Mainland China,2020-01-22 17:00:00,1.0,0.0,0.0
2,2020-01-22,Beijing,Mainland China,2020-01-22 17:00:00,14.0,0.0,0.0
3,2020-01-22,Chongqing,Mainland China,2020-01-22 17:00:00,6.0,0.0,0.0
4,2020-01-22,Fujian,Mainland China,2020-01-22 17:00:00,1.0,0.0,0.0
5,2020-01-22,Gansu,Mainland China,2020-01-22 17:00:00,0.0,0.0,0.0
6,2020-01-22,Guangdong,Mainland China,2020-01-22 17:00:00,26.0,0.0,0.0
7,2020-01-22,Guangxi,Mainland China,2020-01-22 17:00:00,2.0,0.0,0.0
8,2020-01-22,Guizhou,Mainland China,2020-01-22 17:00:00,1.0,0.0,0.0
9,2020-01-22,Hainan,Mainland China,2020-01-22 17:00:00,4.0,0.0,0.0
10,2020-01-22,Hebei,Mainland China,2020-01-22 17:00:00,1.0,0.0,0.0

In [4]:
latest_date = df['ObservationDate'].max()
df_latest = df[df['ObservationDate'] == latest_date]
df_latest= df_latest.sort_values(by='Confirmed', ascending=False)
df_latest

,ObservationDate,Province/State,Country/Region,Last_Update,Confirmed,Deaths,Recovered
SNo,,,,,,,
306128,2021-05-29,Maharashtra,India,2021-05-30 04:20:55,5713215.0,94030.0,5339838.0
305719,2021-05-29,Unknown,France,2021-05-30 04:20:55,5600353.0,108532.0,331686.0
305825,2021-05-29,Unknown,Turkey,2021-05-30 04:20:55,5235978.0,47271.0,5094279.0
305973,2021-05-29,England,UK,2021-05-30 04:20:55,3910803.0,112385.0,0.0
305914,2021-05-29,California,US,2021-05-30 04:20:55,3788713.0,63236.0,0.0
...,...,...,...,...,...,...,...
306369,2021-05-29,Unknown,Mainland China,2021-05-30 04:20:55,0.0,0.0,10.0
306367,2021-05-29,Unknown,India,2021-05-30 04:20:55,0.0,0.0,0.0
306365,2021-05-29,Unknown,Colombia,2021-05-30 04:20:55,0.0,0.0,0.0
305962,2021-05-29,Diamond Princess cruise ship,Canada,2021-05-30 04:20:55,0.0,1.0,0.0
306374,2021-05-29,Unknown,UK,2021-05-30 04:20:55,0.0,0.0,0.0

In [5]:
top_3= df_latest.groupby('Country/Region')['Confirmed']
top_3